---
import Section from './Section.astro';
---

<Section>
	<footer class="text-center">
        <!--© {year.getFullYear()} - <a class="underline hover:text-orange-600" href="/imprint/">Imprint</a> - -->
        Made with ♥️ in Buffalo, NY
	</footer>
</Section>
